<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://kit.fontawesome.com/0ad8147108.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style/style.css">
    
</head>
<body>
    <main>
        <section class="MainBack">
            <div class="grid">

            </div>           
        </section>
        <section>
           <!--  Icono mensaje -->
            <div id="IconMsg">
                <i class="far fa-comments icon"></i>
            </div>
        </section>
        <section>
            <!-- Input mandar mensaje -->
            <div id="Ctn-Msg" class="Ctn-inputmsg">
                <input id="input" class="Input" type="text" placeholder="Escriba su mensaj">
            </div>
        </section>
    </main>
</body>
    <script src="./index.js"></script>
</html>